*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #201b1b;
}


 /* custom fonts */


 @font-face {
    font-family: help;
    src: url(assets/fonts/HelpMe.ttf);
 }
@font-face {
    font-family: frightmare;
    src: url(assets/fonts/Frightmare-Demo.otf);
}
@font-face {
    font-family: nightcore;
    src: url(assets/fonts/Nightcore.ttf);
}
@font-face {
    font-family: drcaligari;
    src: url(assets/fonts/DrCaligari.ttf);
}
@font-face {
    font-family: comewithme;
    src: url(assets/fonts/come-with-me.ttf);
}
.splash{
    width: 100%;
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skull{
    width: 70%;
    animation: updown 3s ease-in-out infinite ;
    filter: drop-shadow(4px 4px 2px rgb(10, 10, 10))

}
@keyframes updown {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}
.contant{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}
.contant button{
   width: 250px;
   height: 40px;
   border: 2px solid red;
   background-color: rgb(7, 7, 7);
   color: aliceblue;
   font-family: frightmare;
   font-size:x-large;
   cursor: pointer;
   transition: 0.1s;
}
.contant button:hover{
  transform: scale(1.1);
}

.time{
    color: rgb(177, 0, 0);
    font-size: xx-large;
    opacity: 0;
    font-family: nightcore;
    transition: opacity 2s ease;
    text-shadow: 2px 3px 3px black;
}
.time span{
    font-family: drcaligari;
}
.story{
    display: none;
    position: fixed;
    bottom: 40px;
    left: 30%;
    transform: translate(-50px);
    width: 50%;
    height: auto;
    text-align: center;
    color: white;
    font-size: larger;
    z-index: 999;
    border: 3px solid crimson;
    background-color: rgb(44, 1, 1);
    border-radius: 10px;
    box-shadow: 3px 3px 4px black;
       animation: fadein 2s ease forwards;
}

 @keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
 }
.story h2{
    padding: 20px;
    font-family: drcaligari;
    text-shadow: 2px 3px 2px black;
    letter-spacing: 2px;
}
#next{
    width: 100px;
    height: 50px;
    border: none;
    background-color: chocolate;
    margin-bottom: 10px;
    border:2px solid  black;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
}
#ready{
      width: 100px;
    height: 50px;
    border: none;
    background-color: chocolate;
    margin-bottom: 10px;
    border:2px solid  black;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 40%;
}
#yeah{
      width: 100px;
    height: 50px;
    border: none;
    background-color: chocolate;
    margin-bottom: 10px;
    border:2px solid  black;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 40%;
}
.mission{
    position: fixed;
    top: 20%;
    left: 7%;
    width: 100%;
    animation: Missionfadein 2s ease forwards;
}
@keyframes Missionfadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
 }
.mission h1{
    margin-left: 30%;
    margin-top: -50px;
  color: whitesmoke;
  text-shadow: 2px 3px 2px black;
  font-family: comewithme;
  letter-spacing: 5px;
  animation: glitch 2s infinite;
}
@keyframes glitch {
    0%,90%,100%{
        transform: translate(0);
    }
    92%{
        transform: translate(-2px,1px);
    }
    93%{
        transform: translate(2px,-1px);
    }
    96%{
        transform: translate(-1px,2px);
    }
    
}
.doors-container{
    width: 100%;
    display: grid;
    padding-right: 100px;
    gap: 50px;
    grid-template-columns: repeat(5,1fr);
}
 .doors-container img{
    width: 100px;
    filter: drop-shadow(6px 6px 3px rgb(56, 1, 1));
    transition: 0.5s;
    cursor:pointer;
} 
.doors-container img:hover{
    transform: scale(1.2);
}


.door{
    position: relative;
    cursor: pointer;
}

.mission-label{
    width: fit-content;
    position: absolute;
    inset:0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #b30000;
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-shadow: 4px 2px 0px #090808;
}
.door:hover .mission-label{
    opacity: 1;
}
.door:hover img{
    transform: scale(1.03);
    filter: brightness(0.5);
}